<section class="todoapp">
  <header class="header">
    <div><h3 class="new-todo">ADD A NEW TODO</h3></div>
    <%= form_for(@todo) do |f| %>
      <%= f.text_field :name, :class => "new-todo", :placeholder => (@todo.errors.full_messages_for(:name).first || "Enter a new TODO...") %>
      <%= f.text_field :location, :class => "new-todo", :placeholder => (@todo.errors.full_messages_for(:location).first || "Enter a location...") %>
      <%= f.date_field :date, :class => "new-todo", :placeholder => (@todo.errors.full_messages_for(:date).first || "Enter a date...") %>
      <%= f.submit :style => "display: none" %>
    <% end %>
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
      <div>
          <h3 class="new-todo">ALL THE TODOS</h3>
      </div>
        <ul class="todo-list">
        </ul>
  </section>
  <footer class="footer">
  </footer>
  
</section>